*
{
    margin: 0;
    padding: 0;
}


.custom_jumboton {
    text-align: center;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
}

ul li a:hover{
    background-color: #000;
    color: #fff;
}